.sidebar-content {
    align-items: center;
    background-color: #eeeeee;
    border: none;
    display: flex;
    flex-direction: column;
    min-height: 91vh;
    min-width: 256px;
    margin: 0;
}
