.sidebar-content-column-titles {
    display: flex;
    margin: 0;
}

.sidebar-content-column-titles div {
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    width: 100px;
}